<header>
  <p-menubar [model]="menuBarItems">
    <ng-template pTemplate="start">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" />
    </ng-template>
  </p-menubar>
</header>
<main class="flex w-full flex-col items-center justify-center gap-4">
  <h1 class="text-6xl">Home Page</h1>

  <p>Counter: {{ count() }}</p>

  <span class="p-buttonset">
    <p-button label="Decr" styleClass="!rounded-l-md" size="small" (click)="decr()"></p-button>
    <p-button label="Incr" size="small" styleClass="!rounded-r-md" (click)="incr()"></p-button>
  </span>
  <nav>
    <a routerLink="/login">Go to login</a>
  </nav>
</main>
